@import url('https://fonts.googleapis.com/css2?family=Rozha+One&display=swap');

body {
    margin: 0;
    background-color: #f4f4f4;
    font-family: "Rozha One" , serif;
}

/* goble veriables for slide animation */
:root{
    --item1-transform: translate(-100%, -5%) scale(1.5);
    --item1-filter: blur(30px);
    --item1-zIndex: 11;
    --item1-opacity: 0;

    --item2-transform: translate(0, 0);
    --item2-filter: blur(0);
    --item2-zIndex: 10;
    --item2-opacity: 1;

    --item3-transform: translate(50%, 5%) scale(0.8);
    --item3-filter: blur(10px);
    --item3-zIndex: 9;
    --item3-opacity: 1;

    --item4-transform: translate(90%, 15%) scale(0.5);
    --item4-filter: blur(30px);
    --item4-zIndex: 8;
    --item4-opacity: 1;

    --item5-transform: translate(110%, 25%) scale(0.3);
    --item5-filter: blur(40px);
    --item5-zIndex: 7;
    --item5-opacity: 0;
}

/* header content */

header {
    width: 1140px;
    max-width: 90%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    height: 50px;
    align-items: center;
    position: relative;
    z-index: 100;
}

header .logo {
    padding-top: 40px;
}

header nav a {
    margin-left: 30px;
    text-decoration: none;
    color: #555555;
    font-weight: 500;
}

/* sliders content  and its animation*/

.sliders {
    position: relative;
    height: 800px;
    overflow: hidden;
    margin-top: -50px;
}
.sliders .list {
    position: absolute;
    left: 50%;
    width: 1140px;
    max-width: 90%;
    transform: translateX(-50%);
    height: 80%;

}
.sliders .list .item {
    position: absolute;
    left: 0%;
    width: 70%;
    height: 100%;
    font-size: 15px;
    transition: left 0.5s, opacity 0.5s, width 0.5s;
}
.sliders .list .item img {
    width: 40%;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: right 1.5s;
}

.sliders .list .item img::after {
  content: '';
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: linear-gradient(to right, rgba(0,0,0,0.3), transparent);
  border-radius: inherit;
}

/* hiding the seeMore details */
.sliders .list .item .details {
    opacity: 0;
    pointer-events: none;
}
.sliders .list .item .content {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    width: 400px;
    opacity: 0;
    pointer-events: none;
}
.sliders .list .item:nth-child(2) .content {
    opacity: 1;
    pointer-events: auto;
    transition: opacity 0.5s;
}
.sliders .list .item:nth-child(n + 6) {
    opacity: 0;
    pointer-events: none;
}
.sliders .list .item:nth-child(2) {
    transform: var(--item2-transform);
    filter: var(--item2-filter);
    z-index: var(--item2-zIndex);
    opacity: var(--item2-opacity);
}
.sliders .list .item:nth-child(1) {
    transform: var(--item1-transform);
    filter: var(--item1-filter);
    z-index: var(--item1-zIndex);
    opacity: var(--item1-opacity);
    pointer-events: none;
}
.sliders .list .item:nth-child(3) {
    transform: var(--item3-transform);
    filter: var(--item3-filter);
    z-index: var(--item3-zIndex);
    opacity: var(--item3-opacity);
}
.sliders .list .item:nth-child(4) {
    transform: var(--item4-transform);
    filter: var(--item4-filter);
    z-index: var(--item4-zIndex);
    opacity: var(--item4-opacity);
}
.sliders .list .item:nth-child(5) {
    transform: var(--item5-transform);
    filter: var(--item5-filter);
    z-index: var(--item5-zIndex);
    opacity: var(--item5-opacity);
    pointer-events: none;
}
.sliders .list .item .content .title {
    font-size: 2em;
    font-weight: 500;
    line-height: 0.8em;
}
.sliders .list .item .content .type {
    font-size: 4em;
    font-weight: 500;
}
.sliders .list .item .content .des {
    margin-top: 10px;
    font-size: small;
    color: #5559;
}
.sliders .list .item .content .seeMore-btn {
    font-family: "Rozha One" , serif;
    margin-top: 1.2em;
    padding: 5px;
    border: none;
    border-radius: 5px;
    border-bottom: 1px solid #555;
    background-color: transparent;
    font-weight: bold;
    letter-spacing: 3px;
    transition: background 0.5s;
}
.sliders .list .item .content .seeMore-btn:hover {
    background: #f9e9e9;
}
.sliders .list .item:nth-child(2) .content .title,
.sliders .list .item:nth-child(2) .content .type,
.sliders .list .item:nth-child(2) .content .des, 
.sliders .list .item:nth-child(2) .content .seeMore-btn {
    opacity: 0;
    animation: showContent 0.5s 1s ease-in-out 1 forwards;
}
@keyframes showContent {
    from {
        transform: translateY(-30px);
        filter: blur(10px);
    }to{
        transform: translateY(0);
        opacity: 1;
        filter: blur(0);
    }
}
.sliders .list .item:nth-child(2) .content .type {
    animation-delay: 1.2s;
}

.sliders .list .item:nth-child(2) .content .des {
    animation-delay: 1.4s;
}
.sliders .list .item:nth-child(2) .content .seeMore-btn {
    animation-delay: 1.6s;
}

/* next, previous & back buttons positions */
.arrows {
    position: absolute;
    bottom: 125px;
    width: 1140px;
    max-width: 90%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.arrows #next,
.arrows #prev {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-family: monospace;
    font-size: large;
    font-weight: bold;
    border: 1px solid #555;

}
.arrows #back {
    font-family: "Rozha One" , serif;
    font-weight: 500;
    border: none;
    border-radius: 10px;
    letter-spacing: 3px;
    background-color: transparent;
    opacity: 0;
    pointer-events: auto;
    border: none;
    border-bottom: 1px solid #555;
    transition: all 0.5s;
}
.arrows #back:hover{
    background-color: #f9e9e9;
}

/* next button click animation */

.sliders.next .item:nth-child(1) {
    animation: positionItem2 0.5s ease-in-out 1 forwards;
}
@keyframes positionItem2 {
    from {
        transform: var(--item2-transform);
        filter: var(--item2-filter);
        opacity: var(--item2-opacity);
    }
}
.sliders.next .item:nth-child(2) {
    animation: positionItem3 0.7s ease-in-out 1 forwards;
}
@keyframes positionItem3 {
    from {
        transform: var(--item3-transform);
        filter: var(--item3-filter);
        opacity: var(--item3-opacity);
    }
}
.sliders.next .item:nth-child(3) {
    animation: positionItem4 0.9s ease-in-out 1 forwards;
}
@keyframes positionItem4 {
    from {
        transform: var(--item4-transform);
        filter: var(--item4-filter);
        opacity: var(--item4-opacity);
    }
}
.sliders.next .item:nth-child(4) {
    animation: positionItem5 1.1s ease-in-out 1 forwards;
}
@keyframes positionItem5 {
    from {
        transform: var(--item5-transform);
        filter: var(--item5-filter);
        opacity: var(--item5-opacity);
    }
}

/* previous button click animation */

.sliders.prev .item:nth-child(5) {
    animation: positionItem4 0.5s ease-in-out 1 forwards;
}
.sliders.prev .item:nth-child(4) {
    animation: positionItem3 0.7s ease-in-out 1 forwards;
}
.sliders.prev .item:nth-child(3) {
    animation: positionItem2 0.9s ease-in-out 1 forwards;
}
.sliders.prev .item:nth-child(2) {
    animation: positionItem1 1.1s ease-in-out 1 forwards;
}
@keyframes positionItem1 {
    from {
        transform: var(--item1-transform);
        filter: var(--item1-filter);
        opacity: var(--item1-opacity);
    }
}

/* Show Details */

.sliders.showDetail .list .item:nth-child(3), 
.sliders.showDetail .list .item:nth-child(4) {
    left: 100%;
    opacity: 0;
    pointer-events: none;
}
.sliders.showDetail .list .item:nth-child(2) {
    width: 100%;
}
.sliders.showDetail .list .item:nth-child(2) .content {
    opacity: 0;
    pointer-events: none;
}
.sliders.showDetail .list .item:nth-child(2) img {
    right: 50%;
}
.sliders.showDetail .list .item:nth-child(2) .details {
    opacity: 1;
    width: 50%;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    pointer-events: auto;
}
.sliders.showDetail .list .item:nth-child(2) .details .title {
    font-size: 4em;
}
.sliders.showDetail .list .item:nth-child(2) .details .menu {
    width: 100%;
    text-align: start;
    margin-top: 20px;
    border-top: 1px solid #5553;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sliders.showDetail .list .item:nth-child(2) .details .menu table {
    width: 100%;
    border-collapse: collapse;
    font-family: 'Poppins', sans-serif;
    background: transparent;
    border-radius: 12px;
    overflow: hidden;
}

.sliders.showDetail .list .item:nth-child(2) .details .menu th, .menu td {
    padding: 5px 10px;
    text-align: left;
    border-bottom: 1px solid #eee;
    font-size: 16px;
}
.sliders.showDetail .list .item:nth-child(2) .details .menu th {
    background-color: #f44336; 
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.sliders.showDetail .list .item:nth-child(2) .details .menu td:last-child {
    text-align: right;
    font-weight: 600;
    color: #333;
}
.sliders.sliders.showDetail .list .item:nth-child(2) .checkout button{
    font-family: "Rozha One" , serif;
    background-color: transparent;
    border: 1px solid #5555;
    margin-left: 5px;
    border-radius: 10px;
    padding: 5px 10px;
    letter-spacing: 2px;
    font-weight: 500;
}
.sliders.sliders.showDetail .list .item:nth-child(2) .checkout button:nth-child(2){
    transition: all 0.5s ease-in-out;
}
.sliders.sliders.showDetail .list .item:nth-child(2) .checkout button:nth-child(2):hover {
    background-color: #693eff;
    color: #eee;
}
.sliders.sliders.showDetail .list .item:nth-child(2) .checkout button:nth-child(1) {
    transition: all 0.5s ease-in-out;
}
.sliders.sliders.showDetail .list .item:nth-child(2) .checkout button:nth-child(1):hover {
    background-color: cadetblue;
}
.sliders.showDetail .list .item:nth-child(2) .detail  .title,
.sliders.showDetail .list .item:nth-child(2) .detail  .des,
.sliders.showDetail .list .item:nth-child(2) .detail .menu,
.sliders.showDetail .list .item:nth-child(2) .detail .checkout{
    opacity: 0;
    animation: showContent 0.5s 1s ease-in-out 1 forwards;
}
.sliders.showDetail .list .item:nth-child(2) .detail  .des{
    animation-delay: 1.2s;
}
.sliders.showDetail .list .item:nth-child(2) .detail .menu{
    animation-delay: 1.4s;
}
.sliders.showDetail .list .item:nth-child(2) .detail .checkout{
    animation-delay: 1.6s;
}
.sliders.showDetail #back{
    opacity: 1;
}
.sliders.showDetail #prev,
.sliders.showDetail #next{
    opacity: 0;
    pointer-events: none;
}
.sliders::before{
    width: 500px;
    height: 300px;
    content: '';
    background-image: linear-gradient(70deg, #DC422A, blue);
    position: absolute;
    z-index: -1;
    border-radius: 20% 30% 80% 10%;
    filter: blur(150px);
    top: 50%;
    left: 50%;
    transform: translate(-10%, -50%);
    transition: 1s;
}
.sliders.showDetail::before{
    transform: translate(-100%, -50%) rotate(90deg);
    filter: blur(130px);
}
@media screen and (max-width: 991px){
    /* ipad, tablets */
    .sliders .list .item{
        width: 90%;
    }
    .sliders .list .item .content {
        width: 250px;
    }
    .sliders .list .item .content .seeMore-btn {
        margin-top: 0.5em;
    }
    .sliders.showDetail .list .item:nth-child(2) .details .menu{
        overflow: auto;
    }
    .sliders.showDetail .list .item:nth-child(2) .details .menu table {
        width: 100%;
        font-size: 14px;
    }
    .sliders.showDetail .list .item:nth-child(2) .details .title{
        font-size: 2em;
    }
}
@media screen and (max-width: 560px){
    /* mobile */
    .sliders{
        height: 800px;
    }
    .sliders .list .item{
        width: 100%;
        font-size: 10px;
    }
    .sliders .list{
        height: 100%;
    }
    .sliders .list .item:nth-child(2) .content{
        width: 50%;
    }
    
    .sliders .list .item img{
        width: 40%;
    }
    .sliders .list .item .content .seeMore-btn {
        margin-top: -10px;
    }
    .sliders.showDetail .list .item:nth-child(2) .detail{
        backdrop-filter: blur(10px);
        font-size: small;
    }
    .sliders .list .item:nth-child(2) .content .des,
    .sliders.showDetail .list .item:nth-child(2) .detail .des{
        height: 100px;
        overflow: auto;
    }
    .sliders.showDetail .list .item:nth-child(2) .details .menu table {
        width: 100%;
        min-width: 150px;
        font-size: 10px;
        border-radius: 8px;
        overflow-x: auto;
    }
    .sliders.showDetail .list .item:nth-child(2) .details .menu th, .menu td {
        padding: 4px 8px;
    }
    .sliders.showDetail .list .item:nth-child(2) .detail .checkout{
        display: flex;
        width: max-content;
        float: right;
    }
    .arrows #back {
        position: absolute;
        bottom: -90px;
    }
    .sliders.showDetail .list .item:nth-child(2) .details {
        top: 60%;
        width: 100%;
    }
    .sliders.showDetail .list .item:nth-child(2) img {
        top: 25%;
        right: 30%;
    }
    header {
        display: block;
    }
    header nav a {
        margin-left: 20px;
        font-size: 18px;
    }
    .logo img{
        margin-top: -15px;
        width: 20%;
    }
}